.head {
  width: 100%;
  margin-bottom: 10px;

  label {
    display: block;
    width: 100%;
    margin-top: 8px;
    input {
      display: block;
      width: 100%;
      margin-top: 8px;
    }
  }
}
