.block{
  background-color: #D2D5C2;
  border-radius: 2px;
  display: block;
  box-sizing: border-box;
  padding: 8px;
  border-top: 2px solid rgb(196, 197, 185);
  border-bottom: 2px solid rgb(150, 151, 140);
  position: relative;
  
  &:before, &:after {
    content: '';
    top: 0;
    width: 2px;
    height: 100%;
    position: absolute;
  }
  
  &:before {
    left: -2px;
    background-color: rgb(196, 197, 185);
  }

  &:after {
    right: -2px;
    background-color: rgb(150, 151, 140);
  }
}